@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --teal: hsl(179, 100%, 13%);

  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);

  --Bigs-disp: 'Big Shoulders Display', cursive;
  --lex-deca: 'Lexend Deca', sans-serif;

  font-size: 15px;
}

img {
  width: 60px;
}

h1{
  color: var(--Very-light-gray);
  font-family: var(--Bigs-disp);
}

p {
  color: var(--Transparent-white);
  font-family: var(--lex-deca);
  font-size: .9rem;
}

.orange {
  background-color: var(--Bright-orange);
}

.cyan {
  background-color: var(--Dark-cyan);
}

.teal {
  background-color: var(--teal);
}

/* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 450px;
  padding: 40px;
}

.orange {
  background-color: var(--Bright-orange);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.cyan {
  background-color: var(--Dark-cyan);
}

.teal {
  background-color: var(--teal);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

img {
  width: 60px;
  padding-bottom: 30px;
}

h1 {
  font-family: var(--Bigs-disp);
  text-transform: uppercase;
  padding-bottom: 30px;
  color: var(--Very-light-gray);
}

p {
  font-family: var(--lex-deca);
  color: var(--Transparent-white);
  line-height: 22px;
  padding-bottom: 60px;
  font-size: 0.8em;
}

.button {
  background-color: #fff;
  width: 130px;
  padding: 13px;
  border-radius: 50px;
  text-align: center;
}

.button a {
  text-decoration: none;
  font-family: var(--lex-deca);
}

.orange .button a {
  color: var(--Bright-orange);
}

.orange .button:hover {
  background-color: var(--Bright-orange);
  border: 2px solid #fff;
}

.orange .button a:hover {
  color: var(--Transparent-white);
}

.cyan .button a {
  color: var(--Dark-cyan);
}

.cyan .button:hover {
  background-color: var(--Dark-cyan);
  border: 2px solid #fff;
}

.cyan .button a:hover {
  color: var(--Transparent-white);
}

.teal .button a {
  color: var(--teal);
}

.teal .button:hover {
  background-color: var(--teal);
  border: 2px solid #fff;
}

.teal .button a:hover {
  color: var(--Transparent-white);
}

@media screen and (max-width: 430px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    padding: 40px;
  }

  .orange {
    background-color: var(--Bright-orange);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
  }

  .cyan {
    background-color: var(--Dark-cyan);
  }

  .teal {
    background-color: var(--teal);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 0;
  }

  img {
    width: 60px;
    padding-bottom: 30px;
  }

  h1 {
    font-family: var(--Bigs-disp);
    text-transform: uppercase;
    padding-bottom: 30px;
    color: var(--Very-light-gray);
    font-size: 3em;
  }

  p {
    font-family: var(--lex-deca);
    color: var(--Transparent-white);
    line-height: 30px;
    padding-bottom: 40px;
    font-size: 1.1em;
  }

  .button {
    background-color: #fff;
    width: 170px;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
  }

  .button a {
    text-decoration: none;
    font-family: var(--lex-deca);
  }

  .orange .button a {
    color: var(--Bright-orange);
  }

  .cyan .button a {
    color: var(--Dark-cyan);
  }

  .teal .button a {
    color: var(--teal);
  }
}
